{% extends 'base.html' %}
{% load static %}
{% block seo %}
    
{% endblock seo %}
    


{% block body %}
<!-- Banner Area -->
<section id="common_banner_area" style="background: url('{% static '1000gm/banner3.png' %}' %}');">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="commn_banner_page">
                    <h2>Coming Soon</h2>
                    <ul class="breadcrumb_wrapper">
                        <li class="breadcrumb_item"><a href="{% url 'home:home' %}">Home</a></li>
                        <li class="breadcrumb_item"><img src="{% static 'files/img/icon/arrow.png' %}" alt="img"></li>
                        <li class="breadcrumb_item active">Coming Soon</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Area -->

<!-- volunteer Area -->


<section id="" class="section_padding_bottom pt-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="container">
                    <div class="about_area_para text-center">
                        
                       <img src="https://media.istockphoto.com/id/1223848587/vector/coming-soon-banner-template-coming-soon-ribbon-label-sign.jpg?s=612x612&w=0&k=20&c=KHfhSoZJ-Zfh1ASfikOuPMjCPVixa__NR52BF86FwSA=" alt="">
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock body %}
    


{% block js %}
    
{% endblock  %}
    