{% extends 'base.html' %}
{% load static %}
{% block seo %}
    
{% endblock seo %}
    


{% block body %}
<!-- Banner Area -->
<div class="container">
    <nav aria-label="Breadcrumb" class="breadcrumb">
      <ol itemscope itemtype="https://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a href="{% url 'home:home' %}" itemprop="item">
            <span itemprop="name" class="sr-only">Home</span>
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" class="icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
            </svg>
          </a>
          <meta itemprop="position" content="1" />
        </li>
       
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a href="#" itemprop="item" aria-current="page">
              <span itemprop="name">For NM's & FM's</span>
            </a>
            <meta itemprop="position" content="2" />
          </li>
      </ol>
    </nav>
  </div>
<!-- About Area -->

<!-- volunteer Area -->
<section id="volunteer_area" class="pb-2 pt-2 bg-color">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-12 col-sm-12 col-12">
                <div class="section_heading">
                    <div class="section_heading">
                        <!-- <h3> </h3> -->
                        <h2> For NM’s And FM’s</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="" class="section_padding_bottom pt-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="container">
                    <div class="about_area_para text-center">
                       <p>
                       
                        To achieve the International Master (IM) title, one must attain a high FIDE rating and
participate in IM norm tournaments. One effective way to do so is by inviting foreign players
with high ratings to participate in Super Swiss and Scheveningen Challenger style
tournaments. While Super-Swiss tournaments are cost-effective, they are vulnerable to
initial round misfortune.


                       </p>
                       <p>
                        In contrast, Scheveningen tournaments require at least five interested players in the same
area and are the most optimal choice. Our organization has successfully organized multiple
tournaments, including the Third Super-Swiss tournament in Los Angeles, with more planes
in 2023 for Los Angeles, Las Vegas, and The Bay Area. We are also set to host our first IM
Norm Scheveningen Tournament during the first week of April.

                       </p>
                       <p>
                        
                       Additionally, we have organized over 10 IM Round Robin events across various locations,
                       including Los Angeles, The Bay Area, St. Louis, and New York.
                       </p>
                       <p>
                        
It is believed that serious chess players participate in a minimum of 30 strong tournaments
annually. One way to achieve is by utilizing Scheveningen Challenger tournaments, which
provide a diverse group of higher rates players in a city by eliminating the need to travel and
unlocking regular weekends. By leveraging the law of large numbers, these tournaments
have proven to be highly effective.
                       </p>
                       <p>
                        
Our organization has successfully organized 3 Scheveningen Challenger tournaments in the
Bay Area, attracting more than 15 participants to each event.
                       </p>
                       <p>
                        
The extraordinary talent of young chess players can lead them to draw or even defeat
opponents rated 300 points or more above them.
                       </p>

                       <p>
                        Scheveningen Challenger tournaments have proven to be a platform for these young
prodigies to demonstrate their exceptional abilities. Winning against a grandmaster in the
first game often results in breaking the mental barriers that previously hindered their
performance, leading to success. 

                       </p>
                       <p>
                        Providing them with regular opportunities and adequate
                        preparation against higher rates opponents is crucial in nurturing their skills.
                        This organization has witnessed the remarkable achievements of young players in
                        Scheveningen Challenger tournaments, with several instances of talented children drawing
                        or defeating opponents rated 300 points or more. We are committed to promoting and
                        supporting young talent through our various initiative and tournaments.
                        NMs and FMs can earn money through chess to finance their tournament fees.
                        Playing as the higher rated master in Scheveningen Challenger systems or BonaFIDE Swiss
                        tournament is an effective way for NMs and FMs to earn money to cover their expenses for
                        norm tournaments.
                        
                       </p>
                     <p>
                        Our respectable organization has successfully paid fees for more than 10 NMs and FMs to
                        participate in our Scheveningen Challenger Tournament.
                        
                     </p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock body %}
    


{% block js %}
    
{% endblock  %}
    