{% extends 'base.html' %}
{% load static %}
{% block seo %}
    
{% endblock seo %}
    


{% block body %}
<!-- Banner Area -->
<div class="container">
    <nav aria-label="Breadcrumb" class="breadcrumb">
      <ol itemscope itemtype="https://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a href="{% url 'home:home' %}" itemprop="item">
            <span itemprop="name" class="sr-only">Home</span>
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" class="icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
            </svg>
          </a>
          <meta itemprop="position" content="1" />
        </li>
       
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a href="#" itemprop="item" aria-current="page">
              <span itemprop="name">Chess Literacy</span>
            </a>
            <meta itemprop="position" content="2" />
          </li>
      </ol>
    </nav>
  </div>

<!-- About Area -->

<!-- volunteer Area -->
<section id="volunteer_area" class="pb-5 pt-5 bg-color">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-12 col-sm-12 col-12">
                <div class="section_heading">
                    <div class="section_heading">
                        <h3>Teaching chess to your kid? </h3>
                        <h2> “<span class="color_big_heading">Just remember, it's not just a game</span> , it's a captivating journey of strategy and intellect.”</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="" class="section_padding_bottom pt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="about_area_img">
                    <img src="{% static 'about1.png' %}" style="border-radius: 4px;" alt="img">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="about_area_main_text">
                    <div class="about_area_heading_two">
                       <h3>Discover Your Child's Chess Journey</h3>
                    </div>
                    <div class="about_area_para">
                        <h5>      Every child is unique, and we understand that what engages one may not captivate another.</h5>
                       <p>
                   However, Chess Kids seems to have cracked the code to ignite the love for chess in young minds. We highly recommend allowing Chess Kids to take on the role of captivating and educating your child in this timeless game.
                       </p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>


 <section id="about_top_area" class="section_padding pt-0">
        <div class="container">
            <div class="row text-center">
               
               {% for ie in data %}
                    <div class="col-md-6 mb-2">

                        <div class="card card-cts p-4">
                            <a href="{% url 'home:scoholastic_detail' ie.slug %}">
                                
                                <h4 class="text-white">
                                    {{ie.h1}}
                                </h4>
                                
                            </a>
                        </div>
                    
                    </div>
                
               {% endfor %}
                
            </div>
        </div>
 </section>

{% endblock body %}
    


{% block js %}
    
{% endblock  %}
    