{% extends 'base.html' %}
{% load static %}
{% block seo %}
    
{% endblock seo %}
    


{% block body %}
<!-- Banner Area -->
<div class="container">
    <nav aria-label="Breadcrumb" class="breadcrumb">
      <ol itemscope itemtype="https://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a href="{% url 'home:home' %}" itemprop="item">
            <span itemprop="name" class="sr-only">Home</span>
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" class="icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
            </svg>
          </a>
          <meta itemprop="position" content="1" />
        </li>
       
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a href="#" itemprop="item" aria-current="page">
              <span itemprop="name">Why 1000 GM</span>
            </a>
            <meta itemprop="position" content="2" />
          </li>
      </ol>
    </nav>
  </div>
<!-- About Area -->

<!-- volunteer Area -->
<section id="volunteer_area" class="pb-5 pt-5 bg-color">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-12 col-sm-12 col-12">
                <div class="section_heading">
                    <div class="section_heading">
                        <!-- <h3> </h3> -->
                        <h2> Elevating <span class="color_big_heading">The Game</span></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="" class="section_padding_bottom pt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="about_area_img">
                    <img src="{% static 'a3.png' %}" style="border-radius: 4px;" alt="img">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="about_area_main_text">
                    <div class="about_area_heading_two">
                       <h3>Strategies for Improving Performance on
                    </h3>
                        <h2>
                             <span class="color_big_heading"> Intermediate- Level Chess Players</span> 
                             </h2>
                    </div>
                    <div class="about_area_para">
                        <h5> <b>Prerequisite</b>:</h5>
                       <p>
                       
                        <ul>
                            <li>
                                - We hold the believe that a FIDE rating is a prerequisite for participating in IM norm
tournaments.

                            </li>
                            <li>
                                - The BonaFIDE Swiss tournaments, conducted on a monthly basis in the Bay Area of
California, present a cost-effective and feasible means of acquiring a FIDE Rating.

                            </li>
                            <li>
                                - Our track record showcases the successful organization of three high-quality BonaFIDE
tournaments in the Bay Area, each with resounding success.

                            </li>
                        </ul>

                       </p>
                      
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section id="" class=" section_padding bg-color">
    <div class="container">
        

        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="about_area_main_text">
                    <div class="about_area_heading_two">
                      
                        <h2>
                             <span class="color_big_heading"> Strategies:</span> 
                             </h2>
                    </div>
                    <div class="about_area_para">
                       
                       <p>
                       <ul>
                        <li>
                            - We also believe that committed chess players must engage in at least 30 competitive
                        tournaments of high calibre per year.
                        
                        </li>
                        <li>
                            - Our main strategy is; through the removal of travel requirements and scheduling regular
                        weekend events, The Scheveningen Challenger tournaments attract a diverse cohort of
                        skilled players to your city.
                        
                        </li>
                        <li>
                            - Our record boasts the successful management of three Scheveningen Challenger
                        tournaments in The Bay Area, with an impressive turnout of over 15 participants in each
                        event.
                        
                        </li>
                       </ul>

                       </p>
                      
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="about_area_img">
                    <img src="{% static 'a4.png' %}" style="border-radius: 4px;" alt="img">
                </div>
            </div>
            
        </div>
       
    </div>
</section>

<section id="" class="section_padding_bottom pt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="about_area_img">
                    <img src="{% static 'a5.png' %}" style="border-radius: 4px;" alt="img">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="about_area_main_text">
                    <div class="about_area_heading_two">
                      
                        <h2>
                             <span class="color_big_heading">Dedication:</span> 
                             </h2>
                    </div>
                    <div class="about_area_para">
                       <p>
                       
                        <ul>
                            <li>
                                - Conviction, the official rating of a player typically understates their actual skill level.

                            </li>
                            <li>
                                - The sensitivity of Swiss systems to early misfortune is notable, whereas Round Robin
                                tournaments offer greater stability.
                                

                            </li>
                           
                        </ul>

                       </p>
                       <p>
                        However, when it comes to resilience, Scheveningen tournaments are unmatched. It is
                        essential to carefully consider the tournaments you choose to participate in, as they can
                        significantly impact your ratings.
                       </p>
                       <p>
                        
                        Due to the prevalence of Swiss tournaments, rating advancement tends to be slower
                        compared to the Scheveningen challenger tournament.

                       </p>
                      
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}
    


{% block js %}
    
{% endblock  %}
    