<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title -->
    {% load static %}
    <title>1000GM Chess Charity</title>
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="{% static 'files/css/bootstrap.min.css' %}">
    <!-- animate css -->
    <link rel="stylesheet" href="{% static 'files/css/animate.min.css' %}">
    <!-- Fontawesome css -->
    <link rel="stylesheet" href="{% static 'files/css/fontawesome.all.min.css' %}">
    <!-- owl.carousel css -->
    <link rel="stylesheet" href="{% static 'files/css/owl.carousel.min.css' %}">
    <!-- owl.theme.default css -->
    <link rel="stylesheet" href="{% static 'files/css/owl.theme.default.min.css' %}">
    <!-- Magnific popup css -->
    <link rel="stylesheet" href="{% static 'files/css/magnific-popup.min.css' %}">
    <!-- navber css -->
    <link rel="stylesheet" href="{% static 'files/css/navber.css' %}">
    <!-- meanmenu css -->
    <link rel="stylesheet" href="{% static 'files/css/meanmenu.css' %}">
    <!-- Style css -->
    <link rel="stylesheet" href="{% static 'files/css/style.css' %}">
    <!-- Responsive css -->
    <link rel="stylesheet" href="{% static 'files/css/responsive.css' %}">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static '1000gm/logo.png' %}">

    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    {% block css %}
        
    {% endblock css %}
        
</head>

<body>
    <!-- preloader Area -->
    <!-- <div class="preloader">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- Header Area -->
    <header class="main_header_arae">
        <!-- Top Bar -->
        <div class="topbar-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <ul class="topbar-list">

                            <li><a href="mailto:support@1000gm.org"><i class="fa fa-envelope"></i><span>support@1000gm.org</span></a>
                            </li>
                            <li><a href="https://www.youtube.com/@1000GM" target="_blank"><span><i class="fab fa-youtube"></i> @1000gm </span></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <ul class="topbar-list-right">
                            <li>
                                <a href="https://www.facebook.com/1000gm.org"><i class="fab fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/@1000GM"><i class="fab fa-youtube"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/1000gmorg/"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/SocialM68340232"><i class="fab  fa-twitter-square"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Bar -->
        <div class="navbar-area">
            <div class="main-responsive-nav">
                <div class="container">
                    <div class="main-responsive-menu">
                        <div class="logo">
                            <a href="{% url 'home:home' %}">
                                <img src="{% static '1000gm/logo.png' %}" class="m-logo" alt="logo">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-navbar">
                <div class="container">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <a class="navbar-brand" href="{% url 'home:home' %}">
                            <img src="{% static '1000gm/logo.png' %}" class="w-logo" alt="logo">
                        </a>
                        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a href="{% url 'home:about' %}" class="nav-link">
                                        About Us
                                        <i class="fas fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="{% url 'home:about' %}" class="nav-link">About 1000GM</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{% url 'home:why' %}" class="nav-link">Why Us?</a>
                                        </li>
                                      
                                        
                                        <li class="nav-item">
                                            <a href="{% url 'home:waystohelp' %}" class="nav-link"> Ways You Can Help</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="{% url 'home:events' %}" class="nav-link">
                                        Events Calendar
                                        <i class="fas fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        
                                        <li class="nav-item">
                                            <a href="{% url 'home:calendar' %}" class="nav-link">Calendar</a>
                                        </li>
                                       
                                        <li class="nav-item">
                                            <a href="{% url 'home:uevent' %}" class="nav-link">Upcoming</a>
                                            <ul class="dropdown-menu">
                                                {% for ie in ecat  %}
                                                <li class="nav-item">
                                                    <a href="{% url 'home:ueventd' ie.slug %}" class="nav-link">{{ie.category}}</a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </li> 
                                             
                                        <li class="nav-item">
                                            <a href="{% url 'home:pevent' %}" class="nav-link">Past Events</a>
                                        </li>
                                        
                                    </ul>
                                </li>
                                
                               
                               
                                <li class="nav-item">
                                    <a href="{% url 'home:scoholastic' %}" class="nav-link">
                                        Scholastic
                                        <i class="fas fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        
                                      
                                             
                                        
                                        {% for ie in scoholastic  %}
                                        <li class="nav-item">
                                            <a href="{% url 'home:scoholastic_detail' ie.slug %}" class="nav-link">{{ie.breadcrumb}}</a>
                                        </li>
                                       
                                        {% endfor %}
                                            
                                       
                                    </ul>
                                </li>
                                
                               
                                <li class="nav-item">
                                    <a href="{% url 'home:player_profile' %}" class="nav-link">
                                        Player Profile
                                        
                                    </a>
                                    <!-- <ul class="dropdown-menu"> -->
                                        <!-- <li class="nav-item">
                                            <a href="{% url 'home:gallery' %}" class="nav-link">Gallery</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{% url 'home:blogs' %}" class="nav-link">Blogs</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{% url 'home:latest_videos' %}" class="nav-link">Latest Videos</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{% url 'home:player_profile' %}" class="nav-link">Player Profiles</a>
                                        </li> -->
                                        <!-- <li class="nav-item">
                                            <a href="{% url 'home:press_release' %}" class="nav-link">Press Release</a>
                                        </li> -->
                                    <!-- </ul> -->
                                </li>
                                
                                 <li class="nav-item">
                                    <a href="{% url 'home:gallery' %}" class="nav-link">Gallery</a>
                                </li>
                                 
                                <!-- <li class="nav-item">
                                    <a href="{% url 'shop:shop' %}" class="nav-link">Merchandise</a>
                                </li> -->
                               
                                <li class="nav-item">
                                    <a href="{% url 'home:contact' %}" class="nav-link">Contact</a>
                                </li>
                            </ul>
                            <div class="others-options d-flex align-items-center">
                                <div class="option-item d-none">
                                    
                                   
                                   {% if user.is_authenticated %}
                                   <a href="{% url 'user:byebye' %}" title="Logout"><i class="fa fa-lock" ></i></a>
                                    {% else %}
                                    <a href="javascript:void(0);" data-toggle="modal" data-target="#loginModal"><i class="fa fa-user"></i></a>
                                    
                                   {% endif %}
                                    
                                    &nbsp;&nbsp;
                                    <a href="{% url 'shop:cart' %}"><i class="fa fa-shopping-cart"></i></a>
                                    <!-- <a href="#" class="search-box"> <img src="{% static 'files/img/icon/search_icon.png' %}" style="height: 15px;
                                    position:relative;top: -4px;left: 20px;"
                                         alt="icon"></a> -->
                                </div>
                                <div class="option-item">
                                   
                                </div>
                                <div class="option-item d-none" >
                                    <a href="{% url 'shop:shop' %}" class="btn btn_navber">
                                        <i class="ri-shopping-cart-line"></i> 
                                        <span class="pos">
                                            Buy Now
                                        </span>
                                    </a>
                                </div>
                                <div class="option-item">
                                    <a href="{% url 'home:donate' %}" class="btn btn_navber">
                                        <i class="ri-hand-coin-line mb-2"></i>  
                                        <span class="pos">
                                            Donate now
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="others-option-for-responsive">
                <div class="container">
                    <div class="dot-menu">
                        <div class="inner">
                            <div class="circle circle-one"></div>
                            <div class="circle circle-two"></div>
                            <div class="circle circle-three"></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="option-inner">
                            <div class="others-options d-flex align-items-center">
                                <div class="option-item">
                                    <a href="#" class="search-box"><i class="fas fa-search"></i></a>
                                </div>
                                <div class="option-item">
                                    <a href="{% url 'home:comingsoon' %}" class="btn btn_navber">
                                        <i class="ri-shopping-cart-line"></i> 
                                        <span class="pos">
                                            Buy Merchandise
                                        </span>
                                    </a>
                                  
                                </div>
                                <div class="option-item">
                                    <a href="{% url 'home:donate' %}" class="btn btn_navber">
                                        <i class="ri-hand-coin-line mb-2"></i>  
                                        <span class="pos">
                                            Donate now
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- search -->
    <div class="search-overlay">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="search-overlay-layer"></div>
                <div class="search-overlay-layer"></div>
                <div class="search-overlay-layer"></div>
                <div class="search-overlay-close">
                    <span class="search-overlay-close-line"></span>
                    <span class="search-overlay-close-line"></span>
                </div>
                <div class="search-overlay-form">
                    <form>
                        <input type="text" class="input-search" placeholder="Search here...">
                        <button type="button"><i class="fas fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    
    {% block body %}
        
    {% endblock body %}
     <!-- Subscribe Area -->
     <section id="subscribe_area">
        <div class="container">
            <div class="subscribe_wrapper">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="subscribe_text">
                            <p>Newsletter</p>
                            <h3>To get weekly & monthly news,
                                <span class="color_big_heading">Subscribe</span> to our newsletter.
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="cta_right_side">
                            <form action="{% url 'home:newsletter' %}" method="POST">
                                {% csrf_token %}
                                <div class="input-group">
                                    <input type="email" name="email" class="form-control" placeholder="Your mail address" required="">
                                    <button class="btn btn_theme btn_md" type="submit">Subscribe</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div>
        {% include 'sing.html' %}
    </div>
    <div>
        
     {% include 'login.html' %}
    </div>
   

    <!-- Footer Area -->
    <footer id="footer_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="footer_area_about">
                        <img src="{% static '1000gm/logo.png' %}" class="w-logo" alt="img">
                        <p>Our Mission Make “Follow your passion possible for chess”
                        </p>
                        <h6><strong>Address:</strong> Los Angeles, CA 90024</h6>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="footer_navitem_ara">
                        <h3>Quick links</h3>
                        <div class="nav_item_footer">
                            <ul>
                                
                                    
                                <li><a href="{% url 'home:about' %}">About us</a></li>
                                <li><a href="{% url 'home:uevent' %}">Upcoming Events</a></li>
                                <li><a href="{% url 'home:calendar' %}">Calendar</a></li>
                                <li><a href="{% url 'home:blogs' %}">Blogs</a></li>
                                <li><a href="{% url 'home:gallery' %}">Gallery</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12 col-12">
                    <div class="footer_navitem_ara">
                        <h3>Support</h3>
                        <div class="nav_item_footer">
                            <ul>
                                <li><a href="{% url 'home:contact' %}">Help</a></li>
                                <li><a href="{% url 'home:events' %}">Events</a></li>
                                <li >
                                    <a href="{% url 'home:team' %}" >Our Team</a>
                                </li>
                                <!-- <li><a href="#">FAQ</a></li>
                                <li><a href="#">Terms of service</a></li>
                                <li><a href="#">Privacy Policy</a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="footer_navitem_ara">
                        <h3>Latest Video</h3>
                        <div class="footer_twitter_area">
                            <a href="#!" class="footer_twit_title"><i class="fab fa-twitter"></i> #{{vf.hastag}}</a>
                            <p>{{vf.desc}}</p>
                            <a href="#!" class="footer_twit_two">{{vf.link}}</a>
                            <h6>{{vf.date}}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Copyright Area -->
    <div class="copyright_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="co-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="copyright_left">
                        <p>Copyright © 2023 All Rights Reserved</p>
                    </div>
                </div>
                <div class="co-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="copyright_right">
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/1000gm.org"><i class="fab fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/SocialM68340232"><i class="fab fa-twitter-square"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/1000gmorg/"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/@1000GM?sub_confirmation=1"><i class="fab fa-youtube"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top To Bottom Area -->
    <div class="go-top">
        <i class="fas fa-chevron-up"></i>
        <i class="fas fa-chevron-up"></i>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <!-- Bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- <script src="{% static 'files/js/bootstrap.bundle.js' %}"></script> -->
    <!-- Meanu js -->
    <script src="{% static 'files/js/jquery.meanmenu.js' %}"></script>
    <!-- Magnific Popup js -->
    <script src="{% static 'files/js/jquery.magnific-popup.min.js' %}"></script>
    <!-- owl carousel js -->
    <script src="{% static 'files/js/owl.carousel.min.js' %}"></script>
    <!-- wow.js' %} -->
    <script src="{% static 'files/js/wow.min.js' %}"></script>
    <!-- waypoints.js' %} -->
    <script src="{% static 'files/js/waypoints.min.js' %}"></script>
    <!-- counterup.js' %} -->
    <script src="{% static 'files/js/jquery.counterup.min.js' %}"></script>
    <!-- Custom js -->
    <script src="{% static 'files/js/custom.js' %}"></script>
    <script src="{% static 'files/js/custom-progress-bar.js' %}"></script>
    <script src="{% static 'files/js/custom-scroll-count.js' %}"></script>
    <script src="{% static 'files/js/video.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <script>
         $('#alogin').click(function(){
            $('#closee2').click();
            $('#loginModal').modal('show');
              
         });
    </script>
    <script>
         $('#singup').click(function(){
            $('#closee').click();
            $('#singupModal').modal('show');
              
         });
            
    </script>

    
    {% for message in messages  %}
    <script>
        Swal.fire({
        position: 'top-end',
        icon: '{{message.tags}}',
        title: '{{message}}',
        showConfirmButton: false,
        timer: 1500
        })
    </script>
   
    {% endfor %}
        
    
    {% block js %}
        
    {% endblock js %}
        

</body>

</html>