{% extends 'base.html' %}
{% load static %}
{% block seo %}
    
{% endblock seo %}
    


{% block body %}
    <!-- Banner Area -->
    <div class="container">
        <nav aria-label="Breadcrumb" class="breadcrumb">
            <ol itemscope itemtype="https://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <a href="{% url 'home:home' %}" itemprop="item">
                    <span itemprop="name" class="sr-only">Home</span>
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" class="icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                    </svg>
                </a>
                <meta itemprop="position" content="1" />
                </li>
                <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a href="{% url 'home:scoholastic' %}" itemprop="item">
                    Scoholastic
                    </a>
                    <meta itemprop="position" content="1" />
                </li>
            
                <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a href="#" itemprop="item" aria-current="page">
                    <span itemprop="name">{{data.breadcrumb}}</span>
                    </a>
                    <meta itemprop="position" content="2" />
                </li>
            </ol>
        </nav>
    </div>

<!-- About Area -->

     <!-- causes details Area -->
     <section id="trending_causes_main" class="section_padding">
        <div class="container">
            <div class="row" id="counter">
                <div class="col-lg-8">
                    <div class="details_wrapper_area">
                        <div class="details_big_img">
                            <img src="{{data.image.url}}" alt="img">
                        </div>
                        
                        <div class="details_text_wrapper">
                            {{data.content|safe}}
                        </div>
                        <!-- <div class="comment_form_area">
                            <h3>Leave a comment</h3>
                            <div class="comment_form">
                                <form action="#!" id="comment_form">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Enter full name"
                                                    required />
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control"
                                                    placeholder="Enter email address" required />
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <textarea rows="5" placeholder="Write your comments"
                                                    class="form-control" required></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="submit_btn">
                                                <button class="btn btn_theme btn_md">Submit comment</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sidebar_first">
                        <!-- Recent Causes -->
                        <div class="recent_causes_wrapper sidebar_boxed">
                            <div class="sidebar_heading_main">
                                <h3>Related Articles</h3>
                            </div>
                            
                            {% for ie in rt %}
                                
                            <div class="recent_donet_item">
                                <div class="recent_donet_img">
                                    <a href="{% url 'home:scoholastic_detail' ie.slug %}"><img src="{{ie.image.url}}"
                                            alt="img"></a>
                                </div>
                                <div class="recent_donet_text">
                                    <div class="sidebar_inner_heading">
                                        <h4><a href="cause-details.html">
                                            {{ie.h1}}
                                        </a></h4>
                                    </div>
                                    <h6>{{ie.published}}</h6>
                                </div>
                            </div>
                            {% endfor %}
                                
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock body %}
    


{% block js %}
    
{% endblock  %}
    